<div class="jumbotron">
	<h1>Perticipate in GREATEST Event.</h1>
	<p>Super Ultra Fantastic Awesome Events are waiting for YOU!</p>
	<p><a class="btn btn-success btn-lg">Sign Up</a></p>
</div>

<div class="page-header">
	<h2>イベント一覧</h2>
</div>

<div class="list-group">
	<% @events.each do |event| %>
		<%= link_to(event, class: 'list-group-item') do %>
			<h4 class="list-group-item-heading"><%= event.name %></h4>
			<p class="list-group-item-text"><%= event.start_time.strftime('%Y/%m/%d %H:%M') %> - <%= event.end_time.strftime('%Y/%m/%d %H:%M') %></p>
		<% end %>
	<% end %>
</div>